<form xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:id="form-material" th:action="@{~/material/save}"
      th:method="post">
    <div class="modal-body mb-0">
        <div class="d-flex align-items-start mt-4 align-items-sm-center">
            <i class="fa-solid fa-book-bookmark"></i> &nbsp;
            <div class="d-flex justify-content-between flex-grow-1 align-items-center flex-wrap gap-2">
                <h6 class="mb-0">Material</h6>
                <div class="btn-group">
                    <button type="submit" class="btn btn-secondary">Post</button>
                    <button
                            type="button"
                            class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="col-xl">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-lg-9">
                            <form>
                                <div id="snow-toolbar">
                            <span class="ql-formats">
                              <select class="ql-font"></select>
                              <select class="ql-size"></select>
                            </span>
                                    <span class="ql-formats">
                              <button class="ql-bold"></button>
                              <button class="ql-italic"></button>
                              <button class="ql-underline"></button>
                              <button class="ql-strike"></button>
                            </span>
                                    <span class="ql-formats">
                              <select class="ql-color"></select>
                              <select class="ql-background"></select>
                            </span>
                                    <span class="ql-formats">
                              <button class="ql-script" value="sub"></button>
                              <button class="ql-script" value="super"></button>
                            </span>
                                    <span class="ql-formats">
                              <button class="ql-header" value="1"></button>
                              <button class="ql-header" value="2"></button>
                              <button class="ql-blockquote"></button>
                              <button class="ql-code-block"></button>
                            </span>
                                </div>
                                <div id="snow-editor">
                                    <h6>Title</h6>
                                    <p>
                                        Description (Optional)
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="col col-lg-3">
                            <label for="sectionList" class="form-label">Topic</label>
                            <select id="sectionList" name="sectionList" th:value="${sectionList.sectionType}">
                                <option value="">Select Topic</option>
                                <option th:each="data : ${sectionData}" th:value="${data.id}" th:text="${data.name}"
                                        th:selected="${data.id == sectionList.courseId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Attach -->
        <div class="card mb-0">
            <div class="card-body">
                <h6>Attach</h6>
                <div class="text-center">
                    <button type="button" class="btn btn-icon rounded-circle">
                        <i class="ti ti-brand-google-drive ti-sm"></i>
                    </button>
                    <button type="button" class="btn btn-icon rounded-circle">
                        <i class="ti ti-brand-youtube ti-sm"></i>
                    </button>
                    <button type="button" class="btn btn-icon rounded-circle">
                        <i class="ti ti-plus ti-sm"></i>
                    </button>
                    <button type="button" class="btn btn-icon rounded-circle">
                        <i class="ti ti-upload ti-sm"></i>
                    </button>
                    <button type="button" class="btn btn-icon rounded-circle">
                        <i class="ti ti-link ti-sm"></i>
                    </button>
                </div>
            </div>
        </div>
</form>
<script>
    $(function (){
        const snowEditor = new Quill('#snow-editor', {
            bounds: '#snow-editor',
            modules: {
                formula: true,
                toolbar: '#snow-toolbar'
            },
            theme: 'snow'
        });

        // Full Toolbar
        const fullToolbar = [
            [
                {
                    font: []
                },
                {
                    size: []
                }
            ],
            ['bold', 'italic', 'underline', 'strike'],
            [
                {
                    color: []
                },
                {
                    background: []
                }
            ],
            [
                {
                    script: 'super'
                },
                {
                    script: 'sub'
                }
            ],
            [
                {
                    header: '1'
                },
                {
                    header: '2'
                },
                'blockquote',
                'code-block'
            ],
            [
                {
                    list: 'ordered'
                },
                {
                    list: 'bullet'
                },
                {
                    indent: '-1'
                },
                {
                    indent: '+1'
                }
            ],
            [{ direction: 'rtl' }],
            ['link', 'image', 'video', 'formula'],
            ['clean']
        ];
        const fullEditor = new Quill('#full-editor', {
            bounds: '#full-editor',
            placeholder: 'Type Something...',
            modules: {
                formula: true,
                toolbar: fullToolbar
            },
            theme: 'snow'
        });
    });
</script>