<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="pageCss">
        <link rel="stylesheet" th:href="@{~/vendor/css/pages/app-academy-details.css}" />
        <link rel="stylesheet" th:href="@{~/vendor/libs/quill/typography.css}" />
        <link rel="stylesheet" th:href="@{~/vendor/libs/quill/katex.css}" />
        <link rel="stylesheet" th:href="@{~/vendor/libs/quill/editor.css}" />
    </th:block>
    <title>Title</title>
</head>
<body>
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <!-- Header -->
    <h4 class="pt-3 mb-4"><span class="text-muted fw-light">Academy /</span> Course Details</h4>
    <!--/ Header -->

    <!-- Navbar pills -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/classroom/pages/stream}"><i class="ti-xs ti ti-user-check me-1"></i> Steam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn-page-course"  th:href="@{~/classroom/pages/course}"><i class="ti-xs ti ti-layout-grid me-1"></i> Classwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn-people"  th:href="@{~/classroom/{id}/people(id=${course.id})}"><i class="ti-xs ti ti-users me-1"></i> People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn-page-grade" th:href="@{~/classroom/grades}"><i class="ti-xs ti ti-link me-1"></i> Grades</a>
                </li>
                <li class="nav-item">
                    <!-- Button New -->
                    <div class="btn-group" id="dropdown-icon">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-plus"></i> &nbsp; Create
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{~/classroom/add/assignment}" class="dropdown-item d-flex align-content-lg-between">
                                    <i class="fa-regular fa-clipboard"></i> &nbsp; Assignment
                                </a>
                            </li>
                            <li>
                                <a th:href="@{~/classroom/add/quiz/assignment}" class="dropdown-item d-flex align-items-center">
                                    <i class="fa-solid fa-clipboard"></i> &nbsp; Quiz Assignment
                                </a>
                            </li>
                            <li>
                                <a th:href="@{~/classroom/add/quiz}" class="dropdown-item d-flex align-items-center">
                                    <i class="fa-solid fa-clipboard-question"></i> &nbsp; Quiz
                                </a>
                            </li>
                            <li>
                                <a th:href="@{~/classroom/add/material}" id="btn-add-material" class="dropdown-item d-flex align-items-center">
                                    <i class="fa-solid fa-book-bookmark"></i> &nbsp; Material
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item d-flex align-items-center">
                                    <i class="fa-solid fa-repeat"></i> &nbsp; Reuse Post
                                </a>
                            </li>
                            <li>
                                <a id="btn-topic-add" th:href="@{~/classroom/{id}/topic/add(id=${course.id})}" class="dropdown-item d-flex align-items-center">
                                    <i class="fa-solid fa-table-list"></i> &nbsp; Topic
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/ Button New -->
                </li>
            </ul>
        </div>
    </div>
    <!--/ Navbar pills -->

    <div class="row g-4">
        <div class="card g-3 mt-5">
            <div class="card-body row g-3">
                <div class="col-lg-8">
                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
                        <div class="me-1">
                            <h5 class="mb-1">UI/UX Basic Fundamentals</h5>
                            <p class="mb-1">Prof. <span class="fw-medium"> Devonne Wallbridge </span></p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="badge bg-label-danger">UI/UX</span>
                            <i class="ti ti-share ti-sm mx-4"></i>
                            <i class="ti ti-bookmarks ti-sm"></i>
                        </div>
                    </div>
                    <div class="card academy-content shadow-none border">
                        <div class="p-2">
                            <div class="cursor-pointer">
                                <video
                                        class="w-100"
                                        poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg"
                                        id="plyr-video-player"
                                        playsinline
                                        controls>
                                    <source
                                            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                                            type="video/mp4" />
                                </video>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="mb-2">About this course</h5>
                            <p class="mb-0 pt-1">
                                Learn web design in 1 hour with 25+ simple-to-use rules and guidelines — tons of amazing web
                                design resources included!
                            </p>
                            <hr class="my-4" />
                            <h5>By the numbers</h5>
                            <div class="d-flex flex-wrap">
                                <div class="me-5">
                                    <p class="text-nowrap">
                                        <i class="ti ti-checks ti-sm me-2 mt-n2"></i>Skill level: All Levels
                                    </p>
                                    <p class="text-nowrap"><i class="ti ti-user ti-sm me-2 mt-n2"></i>Students: 38,815</p>
                                    <p class="text-nowrap"><i class="ti ti-flag ti-sm me-2 mt-n2"></i>Languages: English</p>
                                    <p class="text-nowrap"><i class="ti ti-file ti-sm me-2 mt-n2"></i>Captions: Yes</p>
                                </div>
                                <div>
                                    <p class="text-nowrap"><i class="ti ti-pencil ti-sm me-2 mt-n2"></i>Lectures: 19</p>
                                    <p class="text-nowrap">
                                        <i class="ti ti-clock ti-sm me-2 mt-n2"></i>Video: 1.5 total hours
                                    </p>
                                </div>
                            </div>
                            <hr class="mb-4 mt-2" />
                            <h5>Description</h5>
                            <p class="mb-4">
                                The material of this course is also covered in my other course about web design and
                                development with HTML5 & CSS3. Scroll to the bottom of this page to check out that course,
                                too! If you're already taking my other course, you already have all it takes to start
                                designing beautiful websites today!
                            </p>
                            <p class="mb-4">
                                "Best web design course: If you're interested in web design, but want more than just a "how to
                                use WordPress" course,I highly recommend this one." — Florian Giusti
                            </p>
                            <p>
                                "Very helpful to us left-brained people: I am familiar with HTML, CSS, JQuery, and Twitter
                                Bootstrap, but I needed instruction in web design. This course gave me practical, impactful
                                techniques for making websites more beautiful and engaging." — Susan Darlene Cain
                            </p>
                            <hr class="my-4" />
                            <h5>Instructor</h5>
                            <div class="d-flex justify-content-start align-items-center user-name">
                                <div class="avatar-wrapper">
                                    <div class="avatar me-2">
                                        <img th:src="@{~/img/avatars/11.png}" alt="Avatar" class="rounded-circle" />
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="fw-medium">Devonne Wallbridge</span>
                                    <small class="text-muted">Web Developer, Designer, and Teacher</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="accordion stick-top accordion-bordered" id="courseContent">
                        <!-- section -->
                        <div class="accordion-item mb-0" th:each="sectionItem : ${#lists.sort(sections,noUrutComparator)}">
                            <div class="accordion-header" th:attr="id='heading_'+${sectionItem.id}">
                                <button type="button" class="accordion-button bg-lighter rounded-0"
                                        data-bs-toggle="collapse" aria-expanded="false"
                                        th:attr="data-bs-target='#chapter_'+${sectionItem.id}, aria-controls='chapter_'+${sectionItem.id}">
                                    <span class="d-flex flex-column">
                                        <span class="h5 mb-1" th:text="${sectionItem.name}">Course Content</span>
                                        <!--
                                        <span class="fw-normal text-body">2 / 5 | 4.4 min</span>
                                        -->
                                    </span>
                                </button>
                            </div>
                            <div th:attr="id='chapter_'+${sectionItem.id}" class="accordion-collapse collapse" data-bs-parent="#courseContent">
                                <div class="accordion-body py-3 border-top">
                                    <!-- section child -->
                                    <div class="form-check d-flex align-items-center mb-3" th:each="childItem : ${#lists.sort(sectionItem.children, noUrutComparator)}">
                                        <input class="form-check-input" type="checkbox" th:attr="id='check_'+${childItem.id}" />
                                        <label th:attr="for='check_'+${childItem.id}" class="form-check-label ms-3">
                                            <span class="mb-0 h6" th:text="${childItem.name}">1. Welcome to this course</span>
                                            <!--
                                            <span class="text-muted d-block">2.4 min</span>
                                            -->
                                        </label>
                                    </div>
                                    <!--/ section child -->
                                </div>
                            </div>
                        </div>
                        <!--/ section -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- / Content -->

<th:block layout:fragment="script">
    <!-- Vendors JS -->
    <script th:src="@{~/vendor/libs/quill/katex.js}"></script>
    <script th:src="@{~/vendor/libs/quill/quill.js}"></script>

    <script th:src="@{~/scripts/classroom-detail.js}"></script>
</th:block>
</body>
</html>