<form xmlns:th="http://www.thymeleaf.org" th:id="form-kurikulum" th:action="@{~/master/kurikulum/save}"
      th:method="post" th:object="${kurikulum}">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel4">Tambah Kurikulum</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
<!--      <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger errors" role="alert">-->
<!--        <ul>-->
<!--          <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--        </ul>-->
<!--      </div>-->
      <div class="row">
        <div class="col mb-3">
          <label for="kode" class="form-label">Kode</label>
          <input type="text" id="kode" name="kode" th:value="${kurikulum.kode}" th:class="${#fields.hasErrors('kode')}? 'form-control is-invalid': 'form-control'" placeholder="Kode" />
          <div th:if="${#fields.hasErrors('kode')}" class="invalid-feedback">
            <span th:errors="*{kode}"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="nama" class="form-label">Nama</label>
          <input type="text" id="nama" name="nama" th:value="${kurikulum.nama}" th:class="${#fields.hasErrors('nama')}? 'form-control is-invalid': 'form-control'" placeholder="Nama" />
          <div th:if="${#fields.hasErrors('nama')}" class="invalid-feedback">
            <span th:errors="*{nama}"></span>
          </div>
        </div>
      </div>
        <div class="row">
            <div class="col mb-3">
                <label for="noUrut" class="form-label">No Urut</label>
                <input type="text" id="noUrut" name="noUrut" th:value="${kurikulum.noUrut}" th:class="${#fields.hasErrors('noUrut')}? 'form-control is-invalid': 'form-control'" placeholder="No Urut" />
                <div th:if="${#fields.hasErrors('noUrut')}" class="invalid-feedback">
                    <span th:errors="*{noUrut}"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="modal-footer input-group">
      <button type="submit" class="btn btn-success">
        <i class="ti ti-check"></i>
        Save
      </button>
      <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</form>